{% extends "base.html" %}
{% load wagtailcore_tags  wagtailimages_tags %}
{% block body_class %}template-project{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <div class="project-info">
                {{ page.body|richtext }}
                <p><a href="{{ page.get_parent.url }}">« Return to {{ page.get_parent.title}}</a></p>
            </div>
        </div>

        <div class="col-8">
        <div class="project-images">
            {% for project_image in page.project_images.all %}
                {% image project_image.image max-1200x1200 class="img-fluid" %}
            {% endfor %}
            </div>
            {% if page.project_slideshow.all %}
                <ul id="lightSlider">
                {% for slide in page.project_slideshow.all %}
                    {% image slide.image max-1024x1024  as im %}
                    <li class="item" data-thumb="{{ im.url }}">
                        {% image slide.image max-1024x1024 class="img-fluid" %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-2">
        center center center center center center center center center center center center center center center 
        </div>
    </div>
   
{% endblock %}